<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" />
<title>风控系统</title>
</head>
<body>
<!-- 头部html -->
	<div class='pg-header'>
    	<div class='header-menu'>
            <a href="/" class="digg-logo"></a>
            <a href="/web/index/" class="tb active">全部</a>
            <a href="/web/index/" class="tb">首页</a>
            <a href="/web/index/" class="tb">儿童</a>
            <a href="/web/index/" class="tb">男孩</a>
            <a href="/web/index/" class="tb">老男人</a>
        </div>

{% block content %}
{% endblock %}


</body>
</html>